In [1]:
import  pandas  as pd

In [2]:
#  reading  csv file
df=pd.read_csv('info.csv')

In [3]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [26]:
#  extracting  NaN values and  replace them 
from  sklearn.preprocessing  import  Imputer

In [27]:
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)
#                                                column oriented axis = 0

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [8]:
x=df.iloc[:,1].values  # columns 2nd that is age
x

array([44., 27., 30., 38., 40., 35., nan, 48., 50., 37.])

In [11]:
y=df.iloc[:,2].values   #  this column and this is salary
y

array([72000., 48000., 54000., 61000.,    nan, 58000., 52000., 79000.,
       83000., 67000.])

In [33]:
#newimp=imp.fit(x,y)
#newimp
featues=df.iloc[:,0:3]

In [29]:
#featues
label=df.iloc[:,-1]
label

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [34]:
impp=imp.fit(featues.iloc[:,1:3]) #  this is fit method

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [36]:
#  transform 
impp.transform(featues.iloc[:,1:3])

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'